#slides {
    height: auto;
    width: auto;
    max-width: 1050px;
    max-height: 900px;
    display: block;
    margin: auto;
}

h1 {
  font-family: Slabo;
  text-align: center;
}
.cover1{
   display: flex;
   width: 30%;
 }

 #farmer {
   height: 50%;
 }
 .left{
   position: absolute;
   left: 90px;
   width: 300px;
 }

 #woman {
   height: 50%;
 }
.middle {
  position: absolute;
  right: 700px;
  width: 300px;
}


#man {
  height: 50%;
}
.right {
    position: absolute;
    right: 400px;
    width: 300px;

}
