<html>

<head>
  <title> Financial Log </title>
  <link rel= "stylesheet" href="/resources/financial_log_style.css"></link>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src ='/resources/financial_log_js.js'></script>
</head>

<body>
  <!-- tab to redirect to different pages-->
  <div id="header">
    <!-- insert tab line-->
    {{signout}}
  </div>

  <h1> Update Your Wages for Today! </h1>
  <!--div to put all of wage calc -->
  <div id="check_info">
    <!--wage calc form to get users information and upload to datastorage-->
    <div id="form">
      <form method="post" action ="/finlog">
        <!--asks for variables-->
        <div id="time">
          <div type="times">
           <h3>Clock in Hour: <input type="number" name="time_in_hour"/></h3>
           <h3>Clock in Minute: <input type="number" name="time_in_min"/></h3>
           <h3>AM or PM: <input type = 'text' name='time_of_day_in'/></h3>
           <h3>Clock out Hour: <input type="number" name="time_out_hour"/></h3>
           <h3>Clock out Minute: <input type="number" name="time_out_min"/></h3>
           <h3>AM or PM: <input type='text' name = 'time_of_day_out' /></h3>
           <h3>Breaktime length in minutes(unpaid):<input type="number" name="break_time_length"/></h3>
          </div>
        </div>
        <!--asks for status using radio button-->
        <div id="status">
           <h3>Choose one: </h3>
           <input type="radio" name="marital_status" value="1">Dual income or Single
           <br>
           <input type="radio" name="marital_status" value="2">Married with one income
           <br>
           <input type="radio" name="marital_status" value="3">Head of household
           <p><input type="submit" value="Submit"></p>
        </div>

      </form>
    </div>
  </div>
    <!--div to put all of pay stub -->
    <div id="pay_checks">
      <div id='small-paycheck-div'>
        <h1> Paycheck</h1>
      </div>
      <!--pay stub form to ask for check-->
      <div id ="form2">
        <form method="post" action="/finlog-check">
          <!--asks for check info -->
          <div id="check">
            <div type="checks">
            <h3>How much was your paycheck? <input type="number" name="pay_check"/></h3>
            <p><input type="submit" value="Submit"></p>
            </div>
          </div>
        </form>
      </div>
    </div>

    {% if alert in financial_log_dict and alert == 2 %}
      (all good!)
    {% elif alert == 1 %}
      (no bueno)
    {%endif%}






</body>
</html>
