<html>

<head>
  <title> Financial Log </title>
  <link rel= "stylesheet" href="/resources/financial_log_style.css"></link>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src ='/resources/financial_log_js.js'></script>
</head>

<body>
  <div id="header">
    <!-- insert tab line-->
    {{signout}}
  </div>

  <h1> Update Your Wages for Today! </h1>

  <div id="check_info">
    <div id="form">
      <form method="post" action ="">

        <div id="time">
          <div type="times">
           <h3>Clock in: <input type="number" name="time_in_hour"/></h3>
           <h3>Clock in: <input type="number" name="time_in_min"/></h3>
           <h3>Clock out: <input type="number" name="time_out_hour"/></h3>
           <h3>Clock out: <input type="number" name="time_out_min"/></h3>
           <h3>Breaktime length:<input type="number" name="break_time_length"/></h3>
          </div>
        </div>

        <div id="status">
           <h3>Choose one: </h3>
           <input type="radio" name="marital_status" value="1">Dual income or Single
           <br>
           <input type="radio" name="marital_status" value="2">Married with one income
           <br>
           <input type="radio" name="marital_status" value="3">Head of household
           <p><input type="submit" value="Submit"></p>
        </div>

      </form>
    </div>
    <div id="check">
      <!-- insert check comparison-->
      <h3>hello</h3>

    </div>
    <div>
  </div>






</body>
</html>
