<html>
<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Arapey|Glegoo|Inconsolata|Istok+Web|Sorts+Mill+Goudy" rel="stylesheet">
      <link rel="stylesheet" href="/resources/main.css"/>
      <script type="text/javascript" src="/resources/main.js"></script>
    <title>
        Under Construction: Wage Theft Prevension
    </title>
</head>

<body>

  <div id="TabHeader" class="tabcontent">
  <h3>Under Construction</h3>
  <p>- Preventing Wage Theft</p>
</div>

<div id="SignIn" class="tabcontent">
  <h3> Sign In using Google!</h3>
  <p> {{greeting}}</p>
</div>

<button class="tablink" onclick="openCity('TabHeader', this, 'tan')" id="defaultOpen">Under Construction</button>
<button class="tablink" onclick="openCity('SignIn', this, 'saddlebrown')">Sign In</button>

<section>
    <div id= "slides">
  <img class="mySlides" src="/resources/bill-603243_1920.jpg" style="width:100%">
  <img class="mySlides" src="/resources/person-1245789_1920.jpg" style="width:100%">
  <img class="mySlides" src="/resources/fences-2111886_1920.jpg" style="width:100%">
    </div>
</section>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000);
}
</script>
  <h1> Wage Theft: Why is it important? </h1>

  <div class="photo">
        <div class="cover1">
      <div class= "left">
        <img id="farmer" src="/resources/farmer.jpg">
      </div>

      <div class="middle">
        <img id="woman" src="/resources/haiti.jpg">
      </div>
      <div class= "right">
        <img id="man" src="/resources/construction.jpg">
      </div>
        </div>
 </div>




</body>
</html>
